<app-header></app-header>
<!-- users.page.html -->
<ion-content>
  <!-- Subcabecera dentro del contenido -->
  <ion-toolbar color="light" >
    <ion-title size="small">Usuarios</ion-title>
      <ion-button size="small" slot="end" (click)="openUserForm()" color="light">
        <ion-icon name="add" color="primary"></ion-icon>
      </ion-button>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let user of usuarios">
      <ion-label>
        <h2>{{ user.username }}</h2>
        <p>Rol: {{ user.rol }}</p>
      </ion-label>
      <ion-button fill="clear" color="primary" (click)="openUserForm(user)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteUser(user.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
