<ion-header>
  <ion-toolbar>
    <ion-title>Cosecha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Parcela</ion-label>
      <ion-select [(ngModel)]="form.parcela_id" interface="popover">
        <ion-select-option *ngFor="let p of parcelas" [value]="p.id">
          {{ p.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-input type="date" [(ngModel)]="form.fecha_cosecha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Baldes</ion-label>
      <ion-input type="number" [(ngModel)]="form.cant_baldes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Kg Bruto</ion-label>
      <ion-input type="number" [(ngModel)]="form.kg_bruto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Kg Seco</ion-label>
      <ion-input type="number" [(ngModel)]="form.kg_seco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="form.estado">
        <ion-select-option value="COSECHADO">COSECHADO</ion-select-option>
        <ion-select-option value="PARCIAL">PARCIAL</ion-select-option>
        <ion-select-option value="VENDIDO">VENDIDO</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <ion-row>
    <ion-col size="6">
      <ion-button
      color="medium"
      expand="block"
      (click)="cancelar()">
      Cancelar
    </ion-button>
    </ion-col >

    <ion-col size="6">
      <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
    </ion-col>

  </ion-row>


</ion-content>
