<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="scroll-tabs" color="primary">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tareas">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="person"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="obreros">
      <ion-icon name="people"></ion-icon>
      <ion-label>Obreros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insumos">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Insumos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tipo-tareas">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Tipos Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parcelas">
      <ion-icon name="earth"></ion-icon>
      <ion-label>Parcelas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="herramientas">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Herramientas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="extra2">
      <ion-icon name="star"></ion-icon>
      <ion-label>Extra 2</ion-label>
    </ion-tab-button>
        <ion-tab-button tab="extra2">
      <ion-icon name="star"></ion-icon>
      <ion-label>Extra 2</ion-label>
    </ion-tab-button>
        <ion-tab-button tab="extra2">
      <ion-icon name="star"></ion-icon>
      <ion-label>Extra 2</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
