<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Editar Tipo de Tarea' : 'Nuevo Tipo de Tarea' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-input [(ngModel)]="descripcion"></ion-input>
  </ion-item>


  <ion-button expand="block" (click)="save()" class="ion-margin-top">
    {{ isEdit ? 'Actualizar' : 'Guardar' }}
  </ion-button>
</ion-content>
