.splash-loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

ion-spinner {
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
}
