<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-grid>

        <!-- SALUDO -->
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="12">

        <!-- Ícono de perfil -->
        <ion-icon
          name="person-circle-outline"
          style="font-size: 80px; color: #3880ff;">
        </ion-icon>

        <!-- Texto de bienvenida -->
        <h2 style="margin-top: 10px;"> Hola, bienvenido</h2>

        <!-- Nombre del usuario -->
        <h2 style="font-weight: bold;">{{ usuario }}</h2>

      </ion-col>
    </ion-row>


    <!-- BOTONES GRANDES -->
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="big-square-btn" (click)="accion1()">
          <ion-icon name="people" class="big-icon"></ion-icon>
          <span>Obreros</span>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" class="big-square-btn" (click)="accion2()">
          <ion-icon name="leaf" class="big-icon"></ion-icon>
          <span>Parcelas</span>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" class="big-square-btn" (click)="accion3()">
          <ion-icon name="clipboard" class="big-icon"></ion-icon>
          <span>Tareas</span>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" class="big-square-btn" (click)="accion4()">
          <ion-icon name="analytics" class="big-icon"></ion-icon>
          <span>Cosechas</span>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- REPORTES -->
  <div class="reportes-container">
    <h3>Producción semanal</h3>
    <canvas id="grafico1"></canvas>
  </div>

  <div class="reportes-container">
    <h3>Productividad por Parcela</h3>
    <canvas id="grafico2"></canvas>
  </div>




</ion-content>
