#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.big-square-btn {
  height: 100px;        /* Alto del botón */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius:5px;

  ion-icon {
    margin-bottom: 10px;
  }
}

.big-icon {
  font-size: 25px;      /* Tamaño grande de ícono */
}
.reportes-container {
  padding: 20px;
}

.reportes-container h3 {
  margin-bottom: 10px;
  font-weight: 600;
}
