<app-header></app-header>

<ion-content class="ion-padding">
  <div class="section-header">
    <h3>Obreros</h3>
    <ion-button fill="clear" size="small" (click)="openObreroForm()">
      <ion-icon name="add-outline"></ion-icon> Nuevo
    </ion-button>
  </div>

  <div class="item-card" *ngFor="let obrero of obreros">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <!-- Col 1: Foto -->
        <ion-col size="3" class="col-foto">
          <div class="item-img" *ngIf="obrero.foto">
            <img [src]="obrero.foto" />
          </div>
          <div class="item-img placeholder" *ngIf="!obrero.foto">
            <ion-icon name="person-outline"></ion-icon>
          </div>
        </ion-col>

        <!-- Col 2: Datos -->
        <ion-col size="6" class="col-datos">
          <h2 class="item-title">{{ obrero.nombre }} {{ obrero.apellido }}</h2>

          <ion-row class="datos-row">
            <ion-col size="12">
              <span class="dato">
                <ion-icon name="card-outline"></ion-icon>
                {{ obrero.dni }}
              </span>
            </ion-col>
            <ion-col size="12">
              <span class="dato">
                <ion-icon name="call-outline"></ion-icon>
                {{ obrero.telefono }}
              </span>
            </ion-col>
            <ion-col size="12">
              <span class="dato precio">
                <ion-icon name="cash-outline"></ion-icon>
                {{ obrero.precio_base | currency:'S/ ':'symbol':'1.2-2' }}/día
              </span>
            </ion-col>
            <ion-col size="12" *ngIf="obrero.especialidad">
              <span class="dato">
                <ion-icon name="construct-outline"></ion-icon>
                {{ obrero.especialidad }}
              </span>
            </ion-col>
          </ion-row>
        </ion-col>

        <!-- Col 3: Botones -->
        <ion-col size="3" class="col-acciones">
          <ion-button fill="clear" color="primary" (click)="openObreroForm(obrero)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="deleteObrero(obrero.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
