<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openProfile()">
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="openProfile()">
        <ion-icon name="notifications-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()" color="danger">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>AGROGEST</ion-title>
  </ion-toolbar>
</ion-header>
