.header-titles {
  display: flex;
  flex-direction: column;
  align-items: center;     /* Centra el título y subtítulo */
  width: 100%;
}

.subtitle {
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: 0.9;
  margin-top: -4px;
}

.subtitle ion-spinner {
  margin-right: 6px;
  width: 16px;
  height: 16px;
}
